		* {
			   font-family: myFirstFont;
			   font-size: 16px;
			   margin:0px;
		}

		#logoimage {text-align: center; background-image: "logo.png";height:56px;}	

		body {color: white; background-color:black}

		header {
			height:60px;
		}

.redbody{
background: rgb(159,0,0);
background: linear-gradient(90deg, rgba(159,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 94%, rgba(159,0,0,1) 100%);
}

.greenbody{
background: rgb(0,159,58);
background: linear-gradient(90deg, rgba(0,159,58,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 94%, rgba(0,159,58,1) 100%);
}

.bluebody{
background: rgb(0,139,159);
background: linear-gradient(90deg, rgba(0,139,159,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,1) 94%, rgba(0,139,159,1) 100%);
}

		.row{
			overflow: hidden;
		}

			



	  .maxw {
				max-width: 800px;
				margin-left: auto;
				margin-right: auto;
		    /*padding: 10px;*/
		    text-align: right;
			 	}

		.searcharea{
				background-color: #0000;
				max-width: 600px;
				margin-left: auto;
				margin-right: auto;
		    border-radius: 1px;
		    padding: 10px;
		    text-align: center
			 	}

		.center {text-align: center}

		.righttext{text-align: right;}

		@font-face {
			   font-family: myFirstFont;
			   src: url(Roboto-Regular.ttf);
		}
.ico{
	display: block;
	margin: 0 auto;
}

		.logoarea {
		  text-align: center; /* Horizontally center the image */
		  height: 100px;
		}

		.columnA {
		  float: left;
		  width: 12%;
		  text-align: left;
		}
		.columnB {
		  float: left;
		  width: 64%;

		}
		.columnC {
		  width: 21%;
		  Padding-top:10px;
		  padding-right:10px;
		  float:right;
		}


		.fullw{
			width: 100%;
		}
		.halfw{
			width: 49%;
		}
		.tenpad{
			/*padding: 10px;*/
		}

		.smalltext{
			font-size: 11px;
		}


	select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 -webkit-appearance: none;
  -moz-appearance: none;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
}

footer{
  bottom: 0;
  width: 100%;
  text-align:center;
  margin:0 auto;
}

/****Switch******/
.switch {
  position: relative;
  display: inline-block;
  width: 47px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.whitefont {
	color: white;
}
.bluefont {
	color: blue;
}



.max{
  background-image: url("Max_cape.webp");
  width: 33%;
  border-top-left-radius: 15px;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 10%;
  line-height:11;
}

.quest{
  background-image: url("quest_cape.webp");
  border-top-right-radius: 15px;
  width: 33%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 10%;
  line-height:11;
}
.achievement{
  background-image: url("achievement_cape.webp");
  width:34%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 10%;
  line-height:11;
}


.typebutton{
  height: 100px;
  border-top: 0px;
  border-bottom: 0px;
  border-left:2px;
  border-right:2px;
  border-color: white;
  background-color: black;
}


#maincontent{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/***********END SWITCH*******/


/*MOBILE CSS*/
/* its a copy of the above where changes are needed only*/

@media (max-width: 1000px) {

			* {
			   font-size: 36px;
			   line-height: 50px;
		}


		.smalltext{
			font-size: 30px;
		}

		header {
			height:150px;
		}

		#logoimage {height:150px}	

		.columnC {
		  float: left;
		  width: 24%;
		  /*Padding-top:10px;*/
		  padding-right:0px;
		}


    		.searcharea{
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
		    border-radius: 1px;
		    padding: 10px;
		    text-align: center
		  }



				.maxw {
				max-width: 100%;
				margin-left: auto;
				margin-right: auto;
		    border-radius: 0px;
		    /*padding: 10px;*/
			 	}

			 	.logoarea {
		  text-align: center; /* Horizontally center the image */
		  height: 220px;
		}


#maincontent{
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}


.max{
  background-image: url("Max_cape.webp");
  width: 33%;
  border-top-left-radius: 50px;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 20%;
  line-height:11;
}

.quest{
  background-image: url("quest_cape.webp");
  border-top-right-radius: 50px;
  width: 33%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 20%;
  line-height:11;
}
.achievement{
  background-image: url("achievement_cape.webp");
  width:34%;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 20%;
  line-height:11;
}


.typebutton{
  height: 175px;
  border-top: 0px;
  border-bottom: 0px;
  border-left:2px;
  border-right:2px;
  border-color: white;
  background-color: black;
}


}
